@import "./styles/variables";

$primary: #070735 !default ;
$t: () !default;
$t:map_merge((
        "primary":#070735
),$t);
$dashboard-colors:map_remove($dashboard-colors,"primary");
$dashboard-colors: map-merge($t,$dashboard-colors);

@each $name, $color in $dashboard-colors {
    .fg-color--#{ $name } {
        color: $color;
    }
    .bg-color--#{ $name } {
        background-color: $color;
    }
}

:export {
    @each $name, $color in $dashboard-colors {
        #{$name}: $color
    }
}
